{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 style="text-align: center; font-size: 2.5rem; color: #333;">PRICING & PASSES</h1>
    <p style="text-align: center; font-size: 1.2rem; color: #666;">Choose the best plan for your journey and enjoy
        hassle-free rides across the UK.</p>

    <div style="width: 100%; padding: 20px; box-sizing: border-box;">
        <div
            style="background-color:rgb(213, 238, 255); border-radius: 10px; padding: 20px; margin-top: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #2b4f80; font-size: 1.8rem; margin-bottom: 10px;">Pay-As-You-Go</h2>
            <p style="color: #555; font-size: 1.1rem;">Perfect for short trips! Only £0.30 per minute, pay only for what
                you use. No commitment and no upfront costs. Ideal for those who prefer flexibility.</p>
        </div>

        <div
            style="background-color:powderblue; border-radius: 10px; padding: 20px; margin-top: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #2b4f80; font-size: 1.8rem; margin-bottom: 10px;">Day Pass</h2>
            <p style="color: #555; font-size: 1.1rem;">Enjoy unlimited rides for 24 hours at just £9.99. Perfect for a
                day full of errands or sightseeing, giving you the freedom to travel as much as you want!</p>
        </div>

        <div
            style="background-color: rgb(145, 182, 209); border-radius: 10px; padding: 20px; margin-top: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #2b4f80; font-size: 1.8rem; margin-bottom: 10px;">Monthly Subscription</h2>
            <p style="color: #555; font-size: 1.1rem;">For just £29.99 per month, enjoy unlimited rides. Ideal for
                regular commuters, giving you cost savings and the convenience of an all-access pass.</p>
        </div>

        <div
            style="background-color:rgb(134, 163, 205); border-radius: 10px; padding: 20px; margin-top: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #2b4f80; font-size: 1.8rem; margin-bottom: 10px;">Annual Subscription</h2>
            <p style="color: #555; font-size: 1.1rem;">Get unlimited rides for the entire year for £199.99. Our best
                value for regular riders who rely on our service for daily commuting or frequent trips.</p>
        </div>
    </div>
</div>
{% endblock %}